* {
    margin:0;
    padding:0;

}

html {
       scroll-behavior: smooth;

}

body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #E9D5DC;
    min-height: 100vh;

}

#header, #footer {
    width: 100%;
    height: 130px;
    text-align: center;
    background: #CEA3B3;
    line-height: 130px;
    color: black;

}

#main {
    width: 100%;
    /*background-color: #E9D5DC;*/
    background-color: #E9D5DC;



}
#footer {
    margin-bottom: 0;
    bottom: 0;

}

a {
    text-decoration: none;
    color:black;

}

footer {
    width: 100%;
    height: 110px;
    text-align: center;
    background: #CEA3B3;
    line-height: 100px;
    color: black;
    margin-bottom: 0;
    bottom: 0;

}

#mem {
    text-decoration: underline;

}

#main {
    text-align: center;
    margin: auto;
    width:300px;


}

.dnt {
    font-size: 50px;

}

#ft {
    text-align: center;
    margin: auto;
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: scroll;
    width: 300px;
    border-collapse: collapse;
c
  }







}

.tex {
    opacity: 1;


}

.descr {
    height:300px;
    color: yellow;
    vertical-align: top;




}









